# Virtual Env & Python
.venv/
*.pyc
__pycache__/

# Home Assistant Folders
.storage/
tts/

# Home Assistant Files
home-assistant.log
.HA_VERSION
secrets.yaml
html5_push_registrations.conf
known_devices.yaml

# Git Secret
.gitsecret/keys/random_seed
!*.secret

# Android ADB Keys
android/adbkey
android/adbkey.pub
